*{
  font-family: 'Poiret One', cursive;

}
.font-title{
  font-family: 'Poiret One', cursive;
}

.toogle-icon{
  display: flex;
}
.main-custom{
  padding: 0px 15px;

}



.container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  left: -15px;

}



.text-background{
  text-align:center;
  margin: 15px auto;

}


}

}

.ordenador{
  color: #000;

}

.nav , li{
  position: relative;
  display: block;
}
h1{
  font-family: 'Poiret One', cursive;
}
h1,h2, h3{
  font-family: 'Poiret One', cursive;
}
p{
  font-size: 16px;
}
